/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Generic game styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main game background image */

html {
  background: url("../images/main-quiz-background-img.jpg") no-repeat center center;
  background-size: cover;
}

/* Display grid and font family set to entire body */

body {
  display: grid;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

main {
  display: grid;
  align-self: center;
  grid-gap: 1rem;
  justify-content: center;
}

/* Hidden class used to hide menus */

.hidden {
  display: none;
}

/* Styles to be applied to answer buttons if answered correctly or incorrectly */

.correct {
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}

.incorrect {
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}

/* Main quiz container style */

#quiz-container {
  background: url("../images/quiz-background-image-2.jpg") no-repeat center center;
  max-width: 80%;
  width: 100%;
  justify-self: center;
  align-self: center;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #fafafa;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

/* styling the Main quiz heading */

header {
  display: grid;
  align-items: center;
}

#quiz-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 290px;
  text-align: center;
  font-size: 40px;
  background-color: #FF0013;
  color: #fafafa;
  padding: 0 5px;
  border: 2px solid #fafafa;
}

/* Style for all other quiz headings */

h2 {
  font-size: 20px;
  color: #fafafa;
  text-align: center;
  margin: 0 40px;
}

/* style for rules section */

#quiz-rules-container {
  justify-items: center;
  align-items: center;
}

#rules-position-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  width: 90%;
}

li {
  color: #fafafa;
  margin: 10px 5px;
}

/* main default button style */

.btn {
  margin: 0 auto;
  height: 40px;
  width: 150px;
  font-size: 18px;
  font-weight: 700;
  margin: 2px 0;
  border-radius: 5px;
  border: 5px double #ff0013;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.btn:hover {
  height: 50px;
  width: 160px;
  font-size: 20px;
  color: #FF0013;
  transition: all 0.3s ease;
}

/* Grid display set to button containers */

#home-menu-button-container,
#difficulty-button-container,
#start-quiz-button-container,
#answer-btn-container,
#next-btn-container,
#home-btn-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

/* Specific styles set to questions and quiz results */

#question, #quiz-results-text, #quiz-results-feedback  {
  font-size: 17px;
  color: #fafafa;
  text-align: center;
  font-weight: 700;
  margin: 0 10px;
}

/* Question text given bottom padding for breathing room. Set to 8px to account for 2px margin on top answer button for a 10px gap*/

#question {
  padding-bottom: 8px;
}

#quiz-results-text {
  font-size: 25px;
}

#quiz-results-feedback {
  padding: 10px 0;
  font-size: 20px;
}

/* Separate style for answer buttons */

.answer-btn {
  margin: 0 auto;
  height: auto;
  width: 85%;
  font-size: 15px;
  font-weight: 500;
  margin: 2px 0;
  border-radius: 5px;
  border: 5px double #ff0013;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

/* Answer button hover effect set to separate style to be accessed by JavaScript */

.answer-btn-hover:hover {
  height: auto;
  width: 90%;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

/* Next button style */

#next-btn {
  width: 100px;
  font-size: 1rem;
  font-weight: 500;
}

/* Next button hover style */

#next-btn:hover {
  font-size: 20px;
  width: 110px;
  height: 50px;
  color: #FF0013;
  transition: all 0.3s ease;
}

/* Style for main quiz home button */

#main-home-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-home-btn {
  height: 35px;
    width: 35px;
    background-color: #ff0013;
    color: #fafafa;
    border: 2px solid #fafafa;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    line-height: 24px;
}

#main-home-btn:hover {
  background-color: #fafafa;
  color: #ff0013;
}

/* Media query for screen sizes 600px and above */

@media screen and (min-width: 600px) {
  h2 {
    font-size: 30px;
    margin: 0 20px;
  }

  .btn {
    height: 50px;
    width: 200px;
    font-size: 20px;
  }
  
  .btn:hover {
    height: 60px;
    width: 210px;
    font-size: 22px;
  }

  #question, #quiz-results-text, #quiz-results-feedback  {
    font-size: 20px;
  }

  .answer-btn {
    font-size: 17px;
  }
  
  .answer-btn-hover:hover {
    font-size: 19px;
  }
}

/* Media query for screen sizes 1030px and above */

@media screen and (min-width: 1030px) {
  #quiz-container {
    max-width: 800px
  }

  #quiz-home-menu {
    width: 500px;
  }

  #quiz-results-text, #quiz-results-feedback  {
    font-size: 25px;
  }
}